<div class = "container">
  <div class="row">
    <div class="text-center">
      <h1>Cocktails</h1>
        <% @cocktails.each do |cocktail| %>
          <li><h2><%= link_to(cocktail.name, cocktail_path(cocktail)) %></h2></li>
           <br/>
        <% end %>
        <h2><%= link_to('Add new beverage', new_cocktail_path) %></h2>
    </div>
  </div>
</div>