<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('http://media0.trover.com/T/54b313bcd809d8792a000de5/fixedw_large_4x.jpg');">
  <div class="banner-content">
    <h1>Cocktail Stories</h1>
    <p>Find delicious cocktail recipes</p>
  </div>
</div>



<div class = "container">
  <div class="row">
    <div class="text-center">
        <% @cocktails.each do |cocktail| %>
          <div class = "col-md-6"><h3>
          <%= cl_image_tag cocktail.photo, height: 300, width: 400, crop: :fill %><br>
          <%= link_to(cocktail.name, cocktail_path(cocktail)) %>
          </h3></div>
        <% end %>
    </div>
  </div>
</div>